/* базовые стили */
*{
    box-sizing: border-box;
}
html{
    font-size: calc(1vw / 14.4);
}
body{
    font-family: 'PT Root UI';
    font-size: 18rem;
}
h1, h2, h3 {
    font-weight: 500;
}
:root {
  --c-cream: #f7f1ef;
  --c-green: #1e3a2b;
  --c-pink: #ffc2d1;
  --c-liliac: #b9a6f2;
  --c-pink-soft: #ffc1d1;
  --c-butter: #ffd66b;
  --c-lime: #c9e265;
  --c-peach: #ffc98b;

  --gap: clamp(16px, 4vw, 56px);
  --radius: clamp(16px, 2vw, 28px);
}
.article-header, 
.article-content{
    max-width: 1000rem;
    margin: 64rem auto;
}
.backlink{
    color: #434141;
    font-weight: 500;
    padding: 3rem 6rem;
    transition: color ease 0.6s;
}
.backlink::before{
    content: '← ';
}
.backlink:hover{
    color: #a70b41;
}
.article-tags{
    display: flex;
    flex-wrap: wrap;
    gap: 10rem;
    margin: 12rem 0;
}
.article-tag{
    font-size: 13rem;
    border-radius: 30rem;
    background-color: rgb(220, 217, 212);
    padding: 6rem 14rem;
    color: #434141;
}
.article-title{
    font-size: 64rem;
    margin: 48rem 0 16rem;
}
.article-lead{
    font-size: 26rem;
    line-height: 1.5;
    color: #434141;
    max-width: 720rem;
}
.article-image{
    width: 100%;
    max-width: 800rem;
    margin: 0rem auto 64rem;
    display: block;
}
.article-content__title{
    font-size: 32rem;
    margin: 48rem 0 16rem;
}
.article-content__list,
.article-content__title{
    line-height: 1.6;
}
.article-content__list{
    margin: 16rem 0 16rem 20rem;
    list-style-type: square;
}
.article-content__list span{
    font-weight: 500;
}
.article-main{
    display: flex;
    justify-content: space-between;
}
.article-info{
    width: 300rem;
    height: fit-content;
    background-color: #f4f6f4;
    border-radius: 18rem;
    backdrop-filter: blur(2px);
    padding: 18rem 20rem;
    position: sticky;
    top: 48rem;
    right: 45rem;
    margin: 64rem 0;
    display: flex;
    flex-direction: column;
    gap: 24rem;
}
.article-info-title{
    font-size: 21rem;
}
.article-info__wrapper{
    display: flex;
    flex-direction: column;
    gap: 16rem;
}
.article-info__stroke{
    display: flex;
    border-bottom: 1rem solid #c2bcbc;
    padding-bottom: 16rem;
}
.article-info__stroke p{
    width: 50%;
}

/* стили для заглушки */
.index{
    background-color: var(--c-cream);
    color: var(--c-green);
    font-family: 'Manrope', Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 0 var(--gap);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 82rem;
}
.header__logo{
    display: flex;
    gap: 20rem;
    font-weight: 800;
    font-size: 20rem;
    text-decoration: none;
    color: var(--c-green);
}
.header__logo:hover .logo__icon{
    transform: rotate(270deg) scale(1.1);
}
.logo__icon{
    width: 30rem;
    height: 30rem;
    fill: var(--c-pink);
    transition: transform 0.8s ease-out;
}
.header__nav{
    display: flex;
    gap: var(--gap);
}
.nav__link{
    text-decoration: none;
    color: var(--gap);
}
